:root {
    --monserat: 'Montserrat', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --darkest: #202020;
    --darker: #242424;
    --darkPurple: #0F0326;
    --gray: #aaaaad;
    --lightgray: #c4c2c2;
    --white: #F5F2EE;
    --gold: #A59678;
    --darkGold: #685c45;
}

*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--monserat);
}

/* Css General (Header / Footer y otros)*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    max-width: 100vw;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.main__section {
    padding-top: 94px;
    background-color: black;
    color: var(--white);
    line-height: 1.6;
}


.main__div {
    padding-top: 1.5em;
}

.main__div--flex {
    flex-direction: column;
    align-items: center;
}

.spanGold {
    color: var(--darkGold);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    transition: .6s ease-out;
    padding: 40px 60px;
    z-index: 999 !important;    
}

header.sticky {

    padding: 10px 100px;
    background-color: var(--lightgray);
    border-bottom: 3px solid var(--darkGold);
}

header .nav__logo {
    position: relative;
    text-decoration: none;
    transition: .6s ease-out;
    display: none;
}

header .nav__logo .nav__img {
    position: relative;
}

header .nav__logo .nav__img--gray {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .6s ease-out;
}

header.sticky .nav__logo .nav__img--gray {
    opacity: 1;

}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--white) !important;
    letter-spacing: 2px;
    transition: .6s ease-out;
    font-size: 0.8rem;
}

header.sticky ul li a {
    color: var(--darkest) !important;

}

.nav__item::after {
    content: "";
    width: 50%;
    display: block;
    margin: 0 auto;
    height: 2px;
    background: var(--gold);
    transform: scale(0, 1);
    transition: all ease-out .4s;
    transform-origin: center;
    top: 0;
}

.nav__item:hover::after {
    transform: scale(1, 1);
}

.nav__link--button {
    background: linear-gradient(90deg, rgba(168,153,124,1) 0%, rgba(165,150,120,1) 50%, rgba(132,120,96,1) 100%);
    padding: .30em 1em;
    border-radius: 10em;
    transition: all ease-out .4s;
    opacity: .85;
    border: #96886d 1px solid;
    border-color: #a59679, #96886d,;
    box-shadow: inset #96886d 0px 0px 2px 1px;
}

.nav__link--button:hover {
    box-shadow: inset #96886d 0px 0px 2px 1px, inset #95886d 1px 1px 2px 1px;
    opacity: 1;
    border: #96886d 1px solid;
    border-color: #96886d, #857961,;
}


.nav__item--button::after {
    content: none;
}

.footer {
    background-color: var(--lightgray);
    font-weight: 300;
    border-top: 3px solid var(--darkGold);
}

.footer__text {
    padding-top: 3em;
    text-align: center;
    font-size: calc( .8rem + .2vw);
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__item {
    padding-bottom: 2em;
}


/* Css Titulo */

.main__tittle {
    text-align: center;
    font-size: calc(4.2vw + 2rem);
}

.main__subtittle {
    font-size: calc(2vw + 1rem);
}

.main__p {
    font-size: calc(.5rem + .6vw);
    padding-top: .4em;
}


/* Css Index */


.main__div--carousel {
    padding-bottom: 6.8em;
}

.carousel__tittle {
    font-size: calc(.8rem + .7vw) ;
    font-family: var(--oswald);
}

.carousel__img {
    margin: 0 auto;
    min-width: 250px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 7px 10px rgba(41, 41, 41, 0.8);
}

/* Css Musculosas */


.vh-100 {
    height: unset !important;
}

.musculosas__section {
    border-top: 3px solid var(--darkest);
}

.musculosas__section--goldenState {
    background-color: rgb(237, 195, 73);
}

.musculosas__section--bulls {
    background-color: rgba(255, 27, 28, 0.5);
}

.musculosas__section--lakers {
    background-color: rgba(76, 44, 105, 0.7);
}

.musculosas__section--celtics {
    background-color: rgba(99, 193, 50, 0.6);
}

.musculosas__section--spurs {
    background-color: rgba(217, 218, 219);
}

.musculosas__section--miami {
    background-color: rgb(74, 206, 193);
}

.main__div--center  {
    text-align: center;
}

.musculosas__logo {
    text-align: center;
    padding-top: 4em;
    min-width: 100px;
}

.musculosas__logoImg {
    width: 15%;
}

.musculosas__box {
    padding-top: 8em;
}

.musculosas__card {
    width: 300px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.6);
    transition: .5s ease-in-out;
    border-radius: 15px;
    margin: 2rem 0;
}

.musculosas__card:hover {
    transform: translateY(20px);
}

.musculosas__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(104, 92, 69, 0.2), rgba(0, 0, 0, 0.9) );
    z-index: 2;
    transition: .5 all;
    opacity: 0;
    border-radius: 10px;
}

.musculosas__card:hover::before {
    opacity: 1;
}

.musculosas__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.musculosas__card .musculosas__info {
    position: relative;
    z-index: 3;
    color: var(--white);
    opacity: 0;
    transform: translateY(30px);
    transition: .5 all;
    padding-bottom: 10px;
}

.musculosas__card:hover .musculosas__info {
    opacity: 1;
}

.musculosas__card .musculosas__info h3 {
    margin: 0;
}

.musculosas__card .musculosas__info p {
    letter-spacing: 1px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.musculosas__card .musculosas__info .musculosas__btn {
    text-decoration: none;
    color: var(--darkest);
    padding: 0.5rem;
    background-color: var(--gold);
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease-in-out;
    border-radius: 5px;
}

.musculosas__card .musculosas__info .musculosas__btn:hover {
    box-shadow: 2px 7px 10px rgba(41, 41, 41, 0.8);
}


/* Sidebar */


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--lightgray);
    z-index: 999;
    border-right: var(--gold) solid 3px;
    transform-origin: left;
    transform: scale(0, 1);
    transition: .6s ease-out;
    display: none;
} 


.sidebar.sticky {

    transform: scale(1, 1);
} 

.sidebar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__logo {
    width: 50px;
    padding-top: 1em;
    cursor: pointer;
}

.sidebar__list {
    list-style: none;
    font-size: 1.525rem;
    margin-top: 1.8em;
    display: flex;
    width: 50px;
    overflow-x: hidden;
    flex-direction: column;
    gap: 1em;
    transition: all ease-out .5s;
    padding: 0;
}

.sidebar:hover .sidebar__list {
    width: 200px;
}

.sidebar__item {
    padding: .2em .5em;
    opacity: 0;
}

.sidebar:hover .sidebar__item {
    width: 200px;
    opacity: 1;
    transition: all ease .6s;
}

.sidebar__link {
    text-decoration: none;
    color: var(--darkest) !important;
}

.sidebar__item::after {
    content: "";
    width: 90%;
    display: block;
    height: 2px;
    background:#A59678;
    transform: scale(0, 1);
    transition: all ease-out .4s;
    transform-origin: left;
    top: 0;
}

.sidebar__item:hover::after {
    transform: scale(1, 1);
}

/* Css Contacto PD: es un trabajo de otro, pero la verdad me gusto mucho  */

.contact__section {
    background-color: unset;
}

.container--contact{
	position: relative;
	width: 100% !important;
	height: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container--contact:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(../images/golden-curry.jpg) no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.contact__box{
	max-width: 850px;
	display: grid;
    grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact__left{
	background: url(../images/golden-curry.jpg) no-repeat center;
	background-size: cover;
    height: 200px;
}

.contact__right{
	padding: 25px 40px;
}

.contact__right h1{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    color: var(--darker);
    font-size: 2rem;
}

.contact__right h1:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--gold);
}

.contact__input{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.contact__input:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
    max-height: 400px;
    overflow-y: scroll;
}

.contact__btns {
    display: flex;
    gap: 1em;
}

.contact__btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--gold);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.contact__btn--rst {
    opacity: .85;
}

.contact__btn:hover{
    background-color: var(--darkGold);
}

.contact__input:focus{
    border: 2px solid var(--gold);
    background-color: #fff;
}

.contact__select{
   cursor: pointer;
}

@media (min-width: 1000px) {

    header {
        padding: 40px 150px;
        display: flex;
    }
    
    header.sticky { 
        padding: 10px 225px;
    }

    header .nav__logo {
        display: block;
    }

    header ul li a {
        font-size: 1.125rem;
    }

    .main__div--flex {
        flex-direction: row;
    }

    .vh-100 {
        height: 100vh !important;
        overflow-y: hidden;
    }

    .musculosas__section {
        padding: 45px;
        padding-left: unset;
    }

    .musculosas__card {
        width: 390px;
        height: 450px;
    }    

    .sidebar {
        display: block;
    }

    .contact__box{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .contact__left{
        height: 100%;
    }

}
