:root {
    --monserat: 'Montserrat', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --darkest: #202020;
    --darker: #242424;
    --darkPurple: #0F0326;
    --gray: #aaaaad;
    --lightgray: #c4c2c2;
    --white: #F5F2EE;
    --gold: #A59678;
    --darkGold: #685c45;
}

*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--monserat);
}

/* Css General (Header / Footer y otros)*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    max-width: 100vw;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.main__div {
    padding-top: 1.5em;
}

.main__div--flex {
    flex-direction: column;
    align-items: center;
}

.spanGold {
    color: var(--darkGold);
}

.navbar {
    background-color: var(--lightgray);
    border-bottom: 3px solid var(--darkGold);
    opacity: .95;
    z-index: 998;
}

.nav__barDevice {
    border-radius: 500px;
    background-color: var(--gold);
}

.nav__barComputer {
    display: none !important;
    list-style: none;
    font-size: 1.325rem;
    margin: 0;
}

.nav__item {
    padding: 1em;
}

.nav__item::after {
    content: "";
    width: 90%;
    display: block;
    margin: 0 auto;
    height: 2px;
    background: var(--gold);
    transform: scale(0, 1);
    transition: all ease-out .4s;
    transform-origin: center;
    top: 0;
}

.nav__item:hover::after {
    transform: scale(1, 1);
}

.nav__link--button {
    background: var(--gold);
    padding: .30em 1em;
    border-radius: 10em;
    transition: all ease-out .4s;
    opacity: .85;
}

.nav__link--button:hover {
    box-shadow: #97896c 0px 0px 2px 1px;
    opacity: 1;
}


.nav__item--button::after {
    content: none;
}

.nav__link  {
    text-decoration: none;
    color: black !important;
    position: relative;
}

.footer {
    background-color: var(--lightgray);
    font-weight: 300;
    border-top: 3px solid var(--darkGold);
}

.footer__text {
    padding-top: 3em;
    text-align: center;
    font-size: calc( .8rem + .2vw);
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__item {
    padding-bottom: 2em;
}


/* Css Titulo */


.main__section {
    padding-top: 94px;
    background-color: black;
    color: var(--white);
    line-height: 1.6;
    }

.main__tittle {
    text-align: center;
    font-size: calc(4.2vw + 2rem);
}

.main__subtittle {
    font-size: calc(2vw + 1rem);
}

.main__p {
    font-size: calc(.5rem + .6vw);
    padding-top: .4em;
}


/* Css Index */


.main__div--carousel {
    padding-bottom: 6.8em;
}

.carousel__tittle {
    font-size: calc(.8rem + .7vw) ;
    font-family: var(--oswald);
}

.carousel__img {
    margin: 0 auto;
    min-width: 250px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 7px 10px rgba(41, 41, 41, 0.8);
}

/* Css Musculosas */

.vh-100 {
    height: unset !important;
}

.musculosas__section {
    border-top: 3px solid var(--darkest);
    height: 100vh;
    padding-left: 50px;
}

.musculosas__section--goldenState {
    background-color: rgb(237, 195, 73);
}

.musculosas__section--bulls {
    background-color: rgba(255, 27, 28, 0.5);
}

.musculosas__section--lakers {
    background-color: rgba(76, 44, 105, 0.7);
}

.musculosas__section--celtics {
    background-color: rgba(99, 193, 50, 0.6);
}

.musculosas__section--spurs {
    background-color: rgba(217, 218, 219);
}

.musculosas__section--miami {
    background-color: rgb(74, 206, 193);
}

.main__div--center  {
    text-align: center;
}

.musculosas__logo {
    text-align: center;
    padding-top: 4em;
    min-width: 100px;
}

.musculosas__logoImg {
    width: 15%;
}

.musculosas__box {
    padding-top: 8em;
}

.musculosas__card {
    width: 300px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.6);
    transition: .5s ease-in-out;
    border-radius: 15px;
    margin: 2rem 0;
}

.musculosas__card:hover {
    transform: translateY(20px);
}

.musculosas__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(104, 92, 69, 0.2), rgba(0, 0, 0, 0.8) );
    z-index: 2;
    transition: .5 all;
    opacity: 0;
    border-radius: 10px;
}

.musculosas__card:hover::before {
    opacity: 1;
}

.musculosas__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.musculosas__card .musculosas__info {
    position: relative;
    z-index: 3;
    color: var(--white);
    opacity: 0;
    transform: translateY(30px);
    transition: .5 all;
    padding-bottom: 10px;
}

.musculosas__card:hover .musculosas__info {
    opacity: 1;
}

.musculosas__card .musculosas__info h3 {
    margin: 0;
}

.musculosas__card .musculosas__info p {
    letter-spacing: 1px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.musculosas__card .musculosas__info .musculosas__btn {
    text-decoration: none;
    color: var(--darkest);
    padding: 0.5rem;
    background-color: var(--gold);
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease-in-out;
    border-radius: 5px;
}

.musculosas__card .musculosas__info .musculosas__btn:hover {
    box-shadow: 2px 7px 10px rgba(41, 41, 41, 0.8);
}


/* Sidebar */


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--lightgray);
    z-index: 999;
    border-right: var(--gold) solid 3px;
} 

.sidebar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__logo {
    width: 50px;
    padding-top: 1em;
}

.sidebar__list {
    list-style: none;
    font-size: 1.625rem;
    margin-top: 1.5em;
    display: flex;
    width: 50px;
    overflow-x: hidden;
    flex-direction: column;
    gap: 1em;
    transition: all ease-out .5s;
    padding: 0;
}

.sidebar:hover .sidebar__list {
    width: 200px;
}

.sidebar__item {
    padding: 0 .5em;
    opacity: 0;
}

.sidebar:hover .sidebar__item {
    width: 200px;
    opacity: 1;
    transition: all ease .6s;
}

.sidebar__link {
    text-decoration: none;
    color: var(--darkest) !important;
}

.sidebar__item::after {
    content: "";
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 2px;
    background: var(--gold);
    transform: scale(0, 1);
    transition: all ease-out .4s;
    transform-origin: left;
    top: 0;
}

.sidebar__item:hover::after {
    transform: scale(1, 1);
}




@media (min-width: 1000px) {

    .nav__barDevice {
        display: none !important;
    }

    .nav__barComputer {
        display: flex !important;
    }

    .main__div--flex {
        flex-direction: row;
    }

    .vh-100 {
        height: 100vh !important;
        overflow-y: hidden;
    }

    .musculosas__section {
        padding: 45px;
        padding-left: unset;
    }

    .musculosas__card {
        width: 390px;
        height: 450px;
    }    
}
